@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&family=Yanone+Kaffeesatz:wght@600&display=swap');
/*configuracion general */ 

*{margin: 0; padding: 0; box-sizing: 0;  font-family: yanone kaffeesatz;}

.container
{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* Caja general */
.box{
    display: flex;
    align-items: center;
    background-color: #fddfca;
    max-width: 1200px;
    margin: 0 20px;
    height: 600px;
    border-radius: 20px;
}
/* Caja izquierda */
.box.left{
    width: 100%;
    margin-right: 50px;
    margin-left: 20px;
    max-width: 600px;
}
h1{
    font-size: 4rem;
    margin-bottom: 60px;
    text-align: center;
}

input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 20px 15px;
    margin-bottom: 50px;
    font-size: 1,2rem;
    outline: none;
    background-color: #fef1e4;
    }
button{
        background-color: #f28f79;
        color: aliceblue;
        font-size: 1.6rem;
        letter-spacing: 1px;
        border: none;
        border-radius: 10px;
        padding: 15px;
        width: 80%;
        cursor: pointer;
        margin-top: 20px;

    }
/* Caja derecha */
.box.rigth{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 20px;

}
img{
    width: 100%;
      }
p{
    font-size: 1.4rem;
    margin-bottom: 30px;
}
/*sensibilidad*/
@media (max-width:800px){
.box{
    flex-direction: calc();
    height: auto;
}
.rigth{
    display: flex;
    flex-direction: column;
}
img{
    width: 80%;
    margin: 10px;
    }
p{
    margin: 20px 0;
}
h1{
    margin: 20px 0;
}
input{
    width: 130px;
}
.box.left{
    padding: 0 20px;
    margin: 0 20px;
}
}
